<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mis.mapper.ProductMapper">


	<select id="read" resultType="com.mis.domain.ProductVO">
		SELECT PNO, PNAME, PRICE, CONTENT,
		WRITER, REGDATE, VIEWCNT
		FROM TBL_PRODUCT WHERE PNO = #{pno}
	</select>


	<select id="create">
		INSERT INTO TBL_PRODUCT (PNO, PNAME, PRICE, CONTENT, WRITER)
		VALUES (SEQ_PRODUCT.NEXTVAL, #{pname}, #{price}, #{content}, #{writer})
		
	</select>




	<update id="update">
		UPDATE TBL_PRODUCT SET PNAME = #{pname},
		PRICE = #{price},
		CONTENT =
		#{content}
		WHERE PNO = #{pno}
	</update>

	<delete id="delete">
		DELETE FROM TBL_PRODUCT WHERE PNO = #{pno}
	</delete>

	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'n'.toString()">
				AND PNAME LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND CONTENT LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'w'.toString()">
				AND WRITER LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'nc'.toString()">
				AND ( PNAME LIKE '%' || #{keyword} || '%' OR CONTENT LIKE
				'%' || #{keyword} || '%')
			</if>
			<if test="searchType == 'cw'.toString()">
				AND ( CONTENT LIKE '%' || #{keyword} || '%' OR WRITER
				LIKE
				'%' || #{keyword} || '%')
			</if>
			<if test="searchType == 'ncw'.toString()">
				AND ( )PNAME LIKE '%' || #{keyword} || '%'
				OR
				CONTENT LIKE
				'%' || #{keyword} || '%'
				OR
				WRITER LIKE '%' || #{keyword} || '%')
			</if>
		</if>
	</sql>

	<select id="listSearchCriteria"
		resultType="com.mis.domain.ProductVO">
			<![CDATA[
				SELECT * FROM (
				SELECT ROWNUM RNUM, PNO, PNAME, PRICE, CONTENT, WRITER, REGDATE, VIEWCNT
				FROM ( SELECT * FROM TBL_PRODUCT WHERE PNO > 0
			
			]]>

		<include refid="search">
		</include>
			
			<![CDATA[
			ORDER BY PNO DESC)) WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})
			ORDER BY PNO DESC, REGDATE DESC
				
			
			]]>

	</select>

	<select id="listSearchCountCriteria" resultType="int">
			
			<![CDATA[
			
			SELECT COUNT(*) FROM TBL_PRODUCT
			WHERE PNO > 0
				
			
			]]>

		<include refid="search">
		</include>



	</select>
	
	<update id="updateViewCount">
		UPDATE TBL_PRODUCT SET VIEWCNT = VIEWCNT + 1
		WHERE PNO = #{pno}
		
	</update>





</mapper>