<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mis.mapper.UserMapper">

	<select id="login" resultType="com.mis.domain.UserVO">
		SELECT USID, UPW, UNAME, UPOINT
		FROM TBL_USER
		WHERE USID = #{usid} AND UPW = #{upw}
	</select>


	<select id="read" resultType="com.mis.domain.UserVO">
		SELECT USID, UPW, UNAME, UPOINT
		FROM TBL_USER WHERE USID = #{usid}
	</select>




	<select id="create">
		INSERT INTO TBL_USER (USID, UPW, UNAME, UPOINT)
		VALUES (#{usid}, #{upw}, #{uname}, #{upoint})

	</select>


	<select id="memberRegister">
		INSERT INTO TBL_USER (USID, UPW, UNAME)
		VALUES
		(#{usid}, #{upw}, #{uname})

	</select>



	<update id="update">
		UPDATE TBL_USER SET UPW = #{upw},
		UNAME = #{uname},
		UPOINT = #{upoint}
		WHERE USID = #{usid}
	</update>

	<delete id="delete">
		DELETE FROM TBL_USER WHERE USID = #{usid}
	</delete>


	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'i'.toString()">
				AND USID LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'n'.toString()">
				AND UNAME LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'in'.toString()">
				AND ( USID LIKE '%' || #{keyword} || '%' OR UNAME LIKE
				'%' || #{keyword} || '%')
			</if>
		</if>
	</sql>



	<select id="listSearchCriteria"
		resultType="com.mis.domain.UserVO">
			<![CDATA[
				SELECT * FROM (
				SELECT ROWNUM RNUM, USID, UPW, UNAME, UPOINT
				FROM ( SELECT * FROM TBL_USER WHERE USID IS NOT NULL
			
			]]>

		<include refid="search">
		</include>
			
			<![CDATA[
			ORDER BY USID DESC)) WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})
			ORDER BY USID DESC
				
			
			]]>

	</select>

	<select id="listSearchCountCriteria" resultType="int">
			
			<![CDATA[
			
			SELECT COUNT(*) FROM TBL_USER
			WHERE USID IS NOT NULL
				
			
			]]>

		<include refid="search">
		</include>



	</select>




</mapper>